.kakao-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.kakao-map-container {
  width: 100%;
  height: 100%;
}

/* Hide Kakao branding in development (keep visible in production) */
.kakao-map-container .map_copyright {
  font-size: 10px;
}
